.input {
  padding: 8px 15px;
  display: block;
  border: 1px solid #eee;
  font-size: 12px;
  border-radius: 5px;

  transition-duration: 0.3s;
  transition-property: border color;
}

.input:focus {
  border: 1px solid #ccc;
}
