.contentLayout {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
/*                             */
@media (max-width: 480px) {
  .contentLayout {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 76px;
  }
}

.contentFooter {
  text-align: center
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.header {
  background: #fff;
  padding: 0;
  display: flex
}

.header > strong {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
