.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'checklist task';
  padding: 0 10vh;
  height: 100vh;
}

.checklist {
  grid-area: checklist;
}

.task {
  grid-area: task;
}
