.textWrap {
  display: inline-flex
}

.textWrap > span {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  position: absolute;
  top: 0;
  right: 5px;
}
