@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

:root {
  --color-light-shades: #f7fbf2;
  --color-light-accent: #e58e68;
  --color-main: #929ad0;
  --color-dark-accent: #c53e63;
  --color-dark-shades: #1e141d;
  --main-font: 'Share Tech Mono';
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--color-ligh-shades);
  font-family: var(--main-font);
}

input, button, textarea {
  outline: none;
  font-family: var(--main-font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
