.auth {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  text-align: center;
}

.box {
  background: #ffffff;
  padding: 3rem 1.5rem 2.5rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box h1 {
  display: block;
  font-size: 1.25rem;
  height: 75%;
}

.box button {
  width: 300px;
}

.logo {
  font-size: 64px;
  margin-bottom: 15px;
}

.buttons {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}
